<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <!--点击全选可以控制 下面的所有checkbox,如果有一个checkbox没选中 全选为不选中状态-->
    <!--全选的值依赖于下面的checkbox，如果都为true则选中，给全选赋值要改变下面的checkbox的值-->
    全选 <input type="checkbox" v-model="checkAll"> <br>
    <input type="checkbox" v-for="check in checkList" v-model="check.isChecked">
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{checkList:[{isChecked:true},{isChecked:true},{isChecked:true}]},
        methods:{},
        computed:{
            checkAll:{
                get(){ //根据checkList数组中如果有false,返回false
                    var obj = this.checkList.find((item)=>{ //如果返回true表示找到，如果没找到 是undefined
                        return !item.isChecked;
                    });
                    return obj?false:true;
                },
                set(val){ //如果选中val为true，让数组中所有的值都为true
                    for(var v of this.checkList){
                        v.isChecked = val;
                    }
                }
            }
        }
    });
</script>
</body>
</html>