*{margin: 0;padding: 0}
.container{width: 600px;margin: 40px auto}
.container .table{width: 100%; text-align: center;border-collapse: collapse}
.container .table th{background: greenyellow; padding: 10px}
.table-bordered { border: 3px solid greenyellow}
.container .table td{padding: 6px;}
a{text-decoration: underline; color: blue; cursor: pointer}
.btn{font-size: 30px;}


/*detail style css*/
#group{border: 3px yellowgreen solid; padding: 10px}
.list-group{border-bottom: 1px dashed yellowgreen;padding-bottom: 5px;}
.list-group label{display: inline-block; width: 150px; font-size: 25px; vertical-align: middle}
.list-group input{vertical-align: middle}