<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <!--上面必须是短横线-->
    <my-component></my-component>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    //父子组件，数据通信
    //1.子组件不能直接使用父组件的数据
    //2.可以在子组件中自己声明数据
    var vm = new Vue({
        el:'#app',
        data:{
            msg:'hello'
        },
        //对象可以共享数据 {name:1}
        components:{
            'my-component':{ //短横线或者 驼峰都可以
                template:'<h1>{{msg}}</h1>',
                data(){ //子组件定义数据必须是函数类型
                    return {msg:'world'}
                }
            }
        }
    })
</script>
</body>
</html>