.form{ border: 3px solid yellowgreen;padding: 10px}
.form-group{margin-bottom: 10px;}
.form-group label{width: 60px; display: inline-block;font-size: 20px;line-height: 30px}
.form-group input{width: 200px;line-height: 30px;height: 30px}